DATABASE_URI = postgresql://postgres:postgres@localhost:5444/postgres?sslmode=disable

# Google oauth client vars
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URL=http://localhost:8080/google_callback

# Goose database migration framework envs 
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://postgres:postgres@localhost:5444/postgres?sslmode=disable
GOOSE_MIGRATION_DIR=./internal/migrations